<h1>Welcome to FizzBuzz</h1>
<% (0..@number).each do |number| %>
  <% case %>
    <% when number % 5 == 0 && number % 3 == 0 %>
      <p><%= "FizzBuzz" %></p>
    <% when number % 3 == 0 %>
      <p><%= "Fizz" %></p>
    <% when number % 5 == 0 %>
      <p><%= "Buzz" %></p>
    <% else %>
      <p><%= number %></p>
    <% end %>
<% end %>
